main {
  box-sizing: border-box;
  font-family: 'SF Pro Text', 'SF Pro Icons', system-ui, 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 680px;
}

.replies {
    padding-left: 0.25rem;
    padding-bottom: 0.15rem;
}

.comments {
    text-align: left;
}

.comment {
    border: 1px solid #00000054;
    border-radius: 5px;
    padding: 0.4rem;
    box-shadow: 0 1px 0 #0000008c, 0 0px 2px #0000001a;
}

.comment:not(:last-child) {
    margin-bottom: 0.5rem;
}
