* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

main {
    font-family: 'SF Pro Text', 'SF Pro Icons', system-ui, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    hyphens: auto;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 680px;
    width: 100%;
    padding: 1rem;
}

.replies {
    padding-left: 0.25rem;
    padding-bottom: 0.15rem;
}

.comments {
    text-align: left;
}

.comment {
    border: 1px solid #00000054;
    border-radius: 5px;
    padding: 0.4rem;
    box-shadow: 0 1px 0 #0000008c, 0 0px 2px #0000001a;
}

.comment:not(:last-child) {
    margin-bottom: 0.5rem;
}

.button {
    font:inherit;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: #363636;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    margin-bottom: 0.8rem;
}

.tag {
    margin-left: 0.5rem;
    display: inline-flex;
    height: 1.35em;
    background: #52a79b;
    color: #fff;
    padding: 0.25em 0.6em;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.userinfo {
    display: flex;
    align-items: baseline;
}

.date {
    color: #727272;
    margin-left: 1rem;
}

.user {
    text-decoration: underline;
    cursor: pointer;
    color: #000;
    text-decoration-color: #0005;
}

.tag-author {
    background: #52a760;
}
